<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loan Prediction</title>
    </head>
    <body>
        <h1>LOAN PREDICTION</h1>
        <h2>Using Applied Data Science</h2>
        <form method="POST" action="/predict">
            <p>Gender</p>
            <input name="gender"required>
            <p>Married</p>
            <input name="married"required>
            <p>Dependents</p>
            <input name="dependents"required>
            <p>Education</p>
            <input name="edu"required>
            <p>Self_Employed</p>
            <input name="semp"required>
            <p>ApplicantIncome</p>
            <input name="appinc"required>
            <p>CoapplicantIncome</p>
            <input name="coappinc"required>
            <p>LoanAmount</p>
            <input name="lamt"required>
            <p>Loan_Amount_Term</p>
            <input name="lamtterm"required>
            <p>Credit_History</p>
            <input name="crhist"required>
            <p>Property_Area</p>
            <input name="prop"required>
            <br><br>
            <button type="submit">Submit</button>

        </form>
    </body>
</html>